@keyframes slideInLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.h2 {
  animation: 1s ease-out 0s 1 slideInLeft;
  text-align: center;
  border-bottom: 2px solid grey;
  padding: 10px;
  @media (max-width: 900px) {
    padding: 2px;
  }
}
.select {
  display: block;
  width: 80%;
  text-align: center;
  margin: 20px auto;
  padding: 14px;
  transition: 0.5s;
  background-color: skyblue;
  color: white;
  border-radius: 5px;
  border: none;
  &:hover {
    background-color: darkcyan;
    cursor: pointer;
  }
}
