.label {
  display: block;
}
.input {
  margin: 10px;
}
@keyframes slideInLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.h2 {
  animation: 1s ease-out 0s 1 slideInLeft;
  text-align: center;
  border-bottom: 2px solid grey;
  padding: 10px;
  @media (max-width: 900px) {
    padding: 2px;
  }
}
